[agent]
  debug = true

[[outputs.influxdb]]
  urls = ["http://influxdb:8086"]
  skip_database_creation = true
  database = "mqtt_db"
  username = "telegraf"
  password = "password"

[[inputs.mqtt_consumer]]
  servers = ["tcp://mqtt:1883"]
  topics = [ ]
  username = "<MQTT_USER>"
  password = "<MQTT_PASSWORD>"
  data_format = "json"
